body {
    margin: 0;
    font-family: Arial;
    background: #f8f9fa;
}

/* NAV */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.nav-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

#userPic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* CALENDAR */
.calendar {
    padding: 20px;
}

.month {
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 1px solid #ddd;
}

.day {
    height: 90px;
    border: 1px solid #eee;
    padding: 5px;
    cursor: pointer;
}

.day:hover {
    background: #f1f3f4;
}

.day.saved::after {
    content: "";
    width: 6px;
    height: 6px;
    background: #1a73e8;
    border-radius: 50%;
    position: absolute;
}

/* EDITOR */
.editor {
    position: fixed;
    right: -400px;
    top: 0;
    width: 350px;
    height: 100%;
    background: white;
    border-left: 1px solid #ddd;
    transition: 0.3s;
    padding: 20px;
}

.editor.open {
    right: 0;
}